# Dependency directories
frontend/node_modules/

# Environment variables
.env

# Logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*

# appsettings
api/appsettings.Development.json
api/appsettings.json

# Directories for C#
api/bin/
api/obj/


# Visual Studio and Windows Specific
api/.vs/
api/*.user
api/*.suo
api/*.userosscache

# Temporary Files
api/*.tmp
api/*.temp

# Lock files (Uncomment if you decide to ignore them)
# package-lock.json
# yarn.lock